.navbar {
    height: 4rem;
    width: 100%;
    background-color: var(--secendery-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-small-device {
    display: none;
}

.navbar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar b {
    color: #00ff88;
}

.links-small-device b {
    color: #00ff88;
}

.img-cont {
    height: 100%;
    display: flex;
    align-items: center;
}

.img-cont h1 {
    color: var(--white-color);
    margin-left: .85rem;
    letter-spacing: 1.5px;
}

.logo {
    height: 100%;

}

.links a {
    color: var(--white-color);
    margin: 0 2rem;
    letter-spacing: 1.5px;
}

.links a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #00ff88;
    display: block;
    margin: auto;
    transition: .5s;
}

.links a:hover::after {
    display: block;
    width: 100%;
}

.links-small-device a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #00ff88;
    display: block;
    margin: auto;
    transition: .5s;
}

.links-small-device a:hover::after {
    display: block;
    width: 100%;
}

.side-bar {
    display: none;
    height: 100vh;
    width: 200px;
    background-color: red;
    position: relative;
    right: 0;
    top: 0;
}

/* NOW GIVE A RESPONSIVENESS TO OUR NAVBAR */

@media screen and (max-width: 1000px) {
    .navbar ul li a {
        margin: 0 1.2rem;
    }

    .img-cont h1 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 842px) {
    .img-cont h1 {
        font-size: 1.2rem;
    }

    .navbar ul li a {
        font-size: .9rem;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 842px) {
    .navbar {
        justify-content: left;
    }

    .links {
        display: none;
    }

    .links-small-device {
        display: block;
        height: 12rem;
        width: 100%;
        background-image: linear-gradient(to bottom left, var(--primary-color), var(--primary-color), rgb(68, 68, 143));
    }

    .links-small-device ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-small-device ul li {
        margin: .62rem 0;
    }

    .links-small-device ul li a {
        color: var(--white-color);
    }
}